<div class="bg">
    <h1 class="header-title" mb-8>
        FIND YOUR <br><span>PERFECT JOB </span> <br>EASILY
         </h1>
        </div>
    
         <div class="search-wrapper">
            <div class="search-box">
                <div class="search-card">
                    <input class="search-input" type="text" placeholder="Job title">
                    <!-- <button class="search-button">Search</button> -->
                    <button type="button" class="btn btn-primary">search</button>
                    
                
                </div>
            
         </div>
        </div>