
<nav>
   <img src="https://www.softpath.net/assets/2f2c00ac35dfadbf86ce.png" alt=""  style="width: 200px;height: 30px;">   

<ul>
        <li><a [routerLink]="['home']"><h5>Home</h5></a></li>
        <li><a [routerLink]="['employee']"><h5>Employee Details</h5></a></li>
        <li><a [routerLink]="['welcome']"><h5> Assessment Demo</h5></a></li>
        <li><a [routerLink]="['job']"><h5>job</h5></a></li>
        <li><a href="https://www.optevus.com/contact.html"><h5>Contact Us</h5></a></li>
        <li><a [routerLink]="['like']"><h5>Carrier Advices</h5></a></li>
       </ul>
  </nav>
<!-- <app-employee-dashboard></app-employee-dashboard> -->
<!-- <app-questionheader></app-questionheader> -->
<router-outlet></router-outlet> 

