<!-- <h1 class="section" style="font-family: sans-serif;;color: purple;">1.Career Advices</h1>
<p>Learn more career tips from company's recruiter</p>

<button class="btn btn-primary btn-lg" routerLink ="/advices">click</button>
<br>
<br>

<div class="blog-wrapper">
    <div class="blog-card">
        <img class="blog-detail">
      
        <h1 style="font-family: sans-serif;;color: purple;">2.How to enjoy your works</h1>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

        <button class="btn btn-primary btn-lg" routerLink ="/work">click</button>

    </div>
</div> -->
