.bg{
   
    background-image: url("https://d2leuf3vilid4d.cloudfront.net/-/media/Communities/strategies/Images/Content-Thumbnail-Images/WSS-Overlays-ALL/Implementing-Career-Pathways-Strategies-in-Workforce-Development-Programs.ashx?rev=c5478df0625c46879c4fe2e14fcb55ee"); 
    background-size: cover;
    height: 110vh;
    width: 100%; 
  } 