/* You can add global styles to this file, and also import other style files
header {
    width: 100%;
    height: 100%;
    background-image:  url("https://www.shutterstock.com/image-illustration/business-technology-internet-network-concept-260nw-2141340231.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} */